CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
CONFIG_BRIDGE_FIRMWARE_VERSION="0.2.6-bootstrap-autodetect"
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_BRIDGE_USB_BOOTSTRAP_MSC=y
CONFIG_TINYUSB_DESC_USE_DEFAULT_PID=n
CONFIG_TINYUSB_DESC_CUSTOM_PID=0x4001
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="ShadowChat"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="ShadowChat Bridge"
CONFIG_TINYUSB_DESC_MSC_STRING="ShadowChat Bootstrap"
CONFIG_TINYUSB_CDC_ENABLED=y
CONFIG_TINYUSB_MSC_ENABLED=y
CONFIG_WL_SECTOR_SIZE_512=y
CONFIG_WL_SECTOR_MODE_PERF=y
